<!DOCTYPE html>
html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        style
            include ../public/home.css
        script
            include ../public/home.js

        title Music Site

    body

        h1#mainHead Music Streaming Mimic Site

        #navBarDiv
            ul#navBar
                li#navSong
                    a(href=songs_link) Songs
                li#navAlbums
                    a(href=albums_link) Albums
                li#navArtists
                    a(href=artists_link) Artists

        #websiteDescr
            h2#what What can you do?
            p Look up songs, artists, albums, and create playlists!
            h2#how How?
            p Simply select a tab above and you will be taken to the designated page to search through our music database!